<div class="flex items-center justify-center bg-[#212529] flex-1 pt-8">
  <div class="text-center">
    <h1 class="text-6xl font-bold mb-4 text-white">Page 1</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.gif" alt="😼" width="200" height="200">
    </picture>
    <div class="mt-4">
      <a href="<%= cat2_path %>" class="hover:underline text-pink-600 text-xl">Follow this link to page 2</a>
    </div>
  </div>
</div>