<div class="flex-1 grid place-content-center">
  <div class="emoji" style="view-transition-name: emoji-1; left: 428px; top: -56px">🐋</div>
  <div class="emoji" style="view-transition-name: emoji-2; left: 210px; top: -500px">◀️</div>
  <div class="emoji" style="view-transition-name: emoji-3; left: 62px; top: 377px">🏸</div>
  <div class="emoji" style="view-transition-name: emoji-4; left: -209px; top: 418px">▪️</div>
  <div class="emoji" style="view-transition-name: emoji-5; left: -219px; top: -109px">🐣</div>
  <div class="emoji" style="view-transition-name: emoji-6; left: -18px; top: -418px">🚲</div>
  <div class="emoji" style="view-transition-name: emoji-7; left: -378px; top: -314px">🍦</div>
  <div class="emoji" style="view-transition-name: emoji-8; left: 247px; top: -185px">™️</div>
  <div class="emoji" style="view-transition-name: emoji-9; left: 409px; top: -361px">📊</div>
  <div class="emoji" style="view-transition-name: emoji-10; left: 54px; top: -422px">☘</div>
  <div class="emoji" style="view-transition-name: emoji-11; left: 80px; top: 360px">💠</div>
  <div class="emoji" style="view-transition-name: emoji-12; left: -152px; top: -408px">🍕</div>
  <div class="emoji" style="view-transition-name: emoji-13; left: -86px; top: 182px">🕢</div>
  <div class="emoji" style="view-transition-name: emoji-14; left: 491px; top: -481px">🔀</div>
  <div class="emoji" style="view-transition-name: emoji-15; left: -54px; top: -377px">🎀</div>
  <div class="emoji" style="view-transition-name: emoji-16; left: 444px; top: 384px">🌯</div>
  <div class="emoji" style="view-transition-name: emoji-17; left: -93px; top: -36px">👐</div>
  <div class="emoji" style="view-transition-name: emoji-18; left: 180px; top: 219px">♣️</div>
  <div class="emoji" style="view-transition-name: emoji-19; left: -494px; top: 450px">🍃</div>
  <div class="emoji" style="view-transition-name: emoji-20; left: -29px; top: -131px">🕦</div>
  <div class="emoji" style="view-transition-name: emoji-21; left: -103px; top: -405px">🐴</div>
  <div class="emoji" style="view-transition-name: emoji-22; left: 52px; top: 102px">💐</div>
  <div class="emoji" style="view-transition-name: emoji-23; left: -88px; top: -450px">💷</div>
  <div class="emoji" style="view-transition-name: emoji-24; left: -274px; top: 439px">🍫</div>
  <div class="emoji" style="view-transition-name: emoji-25; left: -212px; top: -146px">🌪</div>
  <div class="emoji" style="view-transition-name: emoji-26; left: -100px; top: -68px">😓</div>
  <div class="emoji" style="view-transition-name: emoji-27; left: 172px; top: -249px">🌀</div>
  <div class="emoji" style="view-transition-name: emoji-28; left: 330px; top: -486px">🚯</div>
  <div class="emoji" style="view-transition-name: emoji-29; left: 262px; top: 498px">🐡</div>
  <div class="emoji" style="view-transition-name: emoji-30; left: -42px; top: 169px">⚔</div>
  <div class="emoji" style="view-transition-name: emoji-31; left: -386px; top: 134px">🎂</div>
  <div class="emoji" style="view-transition-name: emoji-32; left: -205px; top: -234px">🚳</div>
  <div class="emoji" style="view-transition-name: emoji-33; left: 485px; top: 29px">🐥</div>
  <div class="emoji" style="view-transition-name: emoji-34; left: -277px; top: 276px">😂</div>
  <div class="emoji" style="view-transition-name: emoji-35; left: 390px; top: 161px">➗</div>
  <div class="emoji" style="view-transition-name: emoji-36; left: 394px; top: -25px">🅱️</div>
  <div class="emoji" style="view-transition-name: emoji-37; left: 94px; top: -160px">🅾️</div>
  <div class="emoji" style="view-transition-name: emoji-38; left: -285px; top: -470px">☪</div>
  <div class="emoji" style="view-transition-name: emoji-39; left: -159px; top: -366px">🐟</div>
  <div class="emoji" style="view-transition-name: emoji-40; left: 270px; top: 14px">🎹</div>
  <div class="emoji" style="view-transition-name: emoji-41; left: 327px; top: 193px">🐱</div>
  <div class="emoji" style="view-transition-name: emoji-42; left: 429px; top: -98px">🌡</div>
  <div class="emoji" style="view-transition-name: emoji-43; left: 70px; top: -368px">🌒</div>
  <div class="emoji" style="view-transition-name: emoji-44; left: -469px; top: -351px">📷</div>
  <div class="emoji" style="view-transition-name: emoji-45; left: -75px; top: -404px">🌚</div>
  <div class="emoji" style="view-transition-name: emoji-46; left: 121px; top: 410px">🖲</div>
  <div class="emoji" style="view-transition-name: emoji-47; left: -382px; top: 100px">📁</div>
  <div class="emoji" style="view-transition-name: emoji-48; left: 105px; top: 407px">⬆️</div>
  <div class="emoji" style="view-transition-name: emoji-49; left: 418px; top: -443px">🌔</div>
  <div class="emoji" style="view-transition-name: emoji-50; left: -170px; top: -10px">🕡</div>
  <div class="emoji" style="view-transition-name: emoji-51; left: 321px; top: -317px">▶️</div>
  <div class="emoji" style="view-transition-name: emoji-52; left: -172px; top: 477px">®️</div>
  <div class="emoji" style="view-transition-name: emoji-53; left: 392px; top: -81px">📸</div>
  <div class="emoji" style="view-transition-name: emoji-54; left: -267px; top: 123px">🕚</div>
  <div class="emoji" style="view-transition-name: emoji-55; left: 89px; top: -360px">↪️</div>
  <div class="emoji" style="view-transition-name: emoji-56; left: -156px; top: -234px">📘</div>
  <div class="emoji" style="view-transition-name: emoji-57; left: 169px; top: -434px">🔜</div>
  <div class="emoji" style="view-transition-name: emoji-58; left: 303px; top: 196px">🐑</div>
  <div class="emoji" style="view-transition-name: emoji-59; left: -435px; top: -342px">💑</div>
  <div class="emoji" style="view-transition-name: emoji-60; left: -194px; top: -448px">🌗</div>
  <div class="emoji" style="view-transition-name: emoji-61; left: 467px; top: -274px">👼</div>
  <div class="emoji" style="view-transition-name: emoji-62; left: 235px; top: 300px">🔻</div>
  <div class="emoji" style="view-transition-name: emoji-63; left: 365px; top: -235px">🔏</div>
  <div class="emoji" style="view-transition-name: emoji-64; left: 224px; top: -30px">📦</div>
  <div class="emoji" style="view-transition-name: emoji-65; left: 405px; top: -324px">⚫️</div>
  <div class="emoji" style="view-transition-name: emoji-66; left: -35px; top: 431px">🚪</div>
  <div class="emoji" style="view-transition-name: emoji-67; left: 128px; top: 107px">🎓</div>
  <div class="emoji" style="view-transition-name: emoji-68; left: -285px; top: 488px">🌠</div>
  <div class="emoji" style="view-transition-name: emoji-69; left: 369px; top: 488px">🕸</div>
  <div class="emoji" style="view-transition-name: emoji-70; left: -173px; top: 6px">🛩</div>
  <div class="emoji" style="view-transition-name: emoji-71; left: -32px; top: 246px">😀</div>
  <div class="emoji" style="view-transition-name: emoji-72; left: 332px; top: 214px">🛬</div>
  <div class="emoji" style="view-transition-name: emoji-73; left: -109px; top: 393px">🌩</div>
  <div class="emoji" style="view-transition-name: emoji-74; left: -14px; top: -215px">🔱</div>
  <div class="emoji" style="view-transition-name: emoji-75; left: 162px; top: -262px">🚵</div>
  <div class="emoji" style="view-transition-name: emoji-76; left: 53px; top: 466px">⏸</div>
  <div class="emoji" style="view-transition-name: emoji-77; left: -153px; top: 374px">🚜</div>
  <div class="emoji" style="view-transition-name: emoji-78; left: -81px; top: -65px">🐤</div>
  <div class="emoji" style="view-transition-name: emoji-79; left: 253px; top: 51px">🐘</div>
  <div class="emoji" style="view-transition-name: emoji-80; left: 427px; top: 227px">⤴️</div>
  <div class="emoji" style="view-transition-name: emoji-81; left: 2px; top: 277px">🐬</div>
  <div class="emoji" style="view-transition-name: emoji-82; left: 207px; top: 196px">😠</div>
  <div class="emoji" style="view-transition-name: emoji-83; left: 66px; top: 436px">✂️</div>
  <div class="emoji" style="view-transition-name: emoji-84; left: -44px; top: 268px">⏱</div>
  <div class="emoji" style="view-transition-name: emoji-85; left: -216px; top: 17px">🚇</div>
  <div class="emoji" style="view-transition-name: emoji-86; left: 358px; top: 5px">🐵</div>
  <div class="emoji" style="view-transition-name: emoji-87; left: -43px; top: 3px">🔉</div>
  <div class="emoji" style="view-transition-name: emoji-88; left: 108px; top: 159px">💱</div>
  <div class="emoji" style="view-transition-name: emoji-89; left: -316px; top: 164px">🛣</div>
  <div class="emoji" style="view-transition-name: emoji-90; left: 13px; top: -11px">😊</div>
  <div class="emoji" style="view-transition-name: emoji-91; left: 369px; top: 297px">☕️</div>
  <div class="emoji" style="view-transition-name: emoji-92; left: -222px; top: -454px">🙋</div>
  <div class="emoji" style="view-transition-name: emoji-93; left: 285px; top: 392px">🆖</div>
  <div class="emoji" style="view-transition-name: emoji-94; left: -194px; top: -451px">👯</div>
  <div class="emoji" style="view-transition-name: emoji-95; left: 47px; top: 348px">♌️</div>
  <div class="emoji" style="view-transition-name: emoji-96; left: -197px; top: -128px">♿️</div>
  <div class="emoji" style="view-transition-name: emoji-97; left: 223px; top: 273px">🌦</div>
  <div class="emoji" style="view-transition-name: emoji-98; left: 275px; top: 356px">📤</div>
  <div class="emoji" style="view-transition-name: emoji-99; left: -399px; top: -436px">💿</div>
  <div class="emoji" style="view-transition-name: emoji-100; left: -192px; top: 13px"></div>
  <a class="hover:underline text-pink-600 text-xl" href="<%= emoji1_path %>">Emoji GOOOOOO!</a></body>
</div>